<div class="w-full">
  <div class="col-12">
    <div class=" flex justify-content-between align-items-center">
      <app-product-list-search (onSearch)="onBuscar($event)"></app-product-list-search>
      <button type="button" class="btn btn--warning" [routerLink]="['/app/products/new']">Agregar</button>
    </div>
  </div>
  <div class="col-12">
    <app-product-list-table [productos]="productosFiltrados"></app-product-list-table>
  </div>
  <div class="col-12">
    <app-product-list-pagination
      [resultadosMostrados]="productosFiltrados.length"
      [totalResultados]="totalResultados"
      [opciones]="[5, 10, 20]"
      (onChange)="onCambiarCantidad($event)"></app-product-list-pagination>
  </div>
</div>
