@import "../variables";

.layout-footer {
    transition: margin-left $transition-duration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-top: 1px solid $surface-border;
}
