@mixin focused() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: var(--focus-ring);
}

@mixin focused-inset() {
  outline: 0 none;
  outline-offset: 0;
  transition: box-shadow .2s;
  box-shadow: inset var(--focus-ring);
}

@mixin dialog-container-base {
  max-width: 95vw;
  min-width: 95vw;
  max-height: 95vh;
  transform: scale(1);

  .dialog-header {
    padding: 1.5rem;
  }

  .dialog-body {
    padding: 0 1.5rem 2rem 1.5rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
  }

  .dialog-footer {
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: right;
    flex-shrink: 0;
  }

  @media screen and (min-width: 576px) {
    max-width: 80vw;
    min-width: 80vw;
    max-height: 75vh;
  }
}
